.list-page
  &__header-container
    padding-top: 32px
    @media screen and ( max-width: 1070px )
      padding-top: 70px
  &__container
    padding: 32px 0
    @media screen and ( max-width: 1070px )
      padding: 16px 0
  &__blocks
    margin-top: 25px
    display: flex
    justify-content: space-between
    gap: 30px
