.main-menu
  &__top-line
    display: flex
    align-items: center
    gap: 15px
    padding: 10px 0
    padding-bottom: 5px
    z-index: 100
    @media screen and ( max-width: 1070px )
      padding: 5px 0
      z-index: 100
  &__bottom-line
    background-color: #FFFFFF
    width: 100%
    z-index: 20
    &_fixed
      position: fixed
      animation: fixedMenu 0.3s
      top: 0
      left: 0
      box-shadow: 0px 4px 32px rgba(27, 49, 95, 0.1), 0px 4px 72px rgba(27, 49, 95, 0.2)
      z-index: 100
  &__socials div
    @media screen and ( max-width: 1070px )
      display: none
  &__contacts
    display: flex
    margin-left: auto
    align-items: flex-end
    flex-direction: column
    justify-content: space-between
    @media screen and ( max-width: 1070px )
      display: none
  &__tel
    color: #162C5B
    font-weight: 800
    font-size: 22px
    line-height: 28px
    transition: 0.3s
    &:hover
      text-decoration: underline
      color: lighten(#162C5B, 10)
  &__address
    color: #1B315F
    line-height: 24px
    font-size: 14px
    font-style: normal
  &__search
    @media screen and ( max-width: 1070px )
      margin-left: auto
  &__search button
    border-radius: 4px
  &__search-icon
    width: 45px
    height: 45px
    vertical-align: middle
    cursor: pointer
    transition: 0.3s
    & rect
      fill: #F1F5FF
      transition: inherit
      @media screen and ( max-width: 1070px )
        fill: #FFFFFF
    & path
      fill: #2770F1
      transition: inherit
    &:hover
      & rect
        fill: #2770f1
        @media screen and ( max-width: 1070px )
          fill: #FFFFFF
      & path
        fill: #F1F5FF
        @media screen and ( max-width: 1070px )
          fill: darken(#2770f1, 10)
    &:active
      & rect
        fill: darken(#2770f1, 10)
        @media screen and ( max-width: 1070px )
          fill: #FFFFFF
      & path
        fill: darken(#F1F5FF, 10)
        @media screen and ( max-width: 1070px )
          fill: darken(#2770f1, 20)
  &__call-btn
    @media screen and ( max-width: 1070px )
      display: none
  &__mobile-btn
    position: relative
    width: 40px
    height: 40px
    cursor: pointer
    @media screen and ( min-width: 1070px )
      display: none
    & span, &::after, &::before
       content: ""
       width: 8px
       height: 8px
       background-color: #2770F1
       border-radius: 50%
       position: absolute
       top: 50%
       margin-top: -4px
       transition: left 0.3s, margin 0.3s, top 0.3s, width 0.3s, height 0.4s, transform 0.4s
    &::before
      left: 0
    & span
      left: 50%
      margin-left: -4px
    &::after
      right: 0
    &_active
      & span
        width: 36px
        height: 36px
        margin-top: -18px
        margin-left: -18px
        z-index: 10
      &::before, &::after
        left: 50%
        width: 30px
        height: 2px
        background-color: #fff
        border-radius: 0
        margin-top: -1px
        margin-left: -15px
        z-index: 30
      &::before
        transform: rotate(45deg)
      &::after
        transform: rotate(135deg)

ul.main-menu__bottom-line
  @media screen and ( max-width: 1070px )
      display: none

@keyframes fixedMenu
  0%
    top: -100px
  100%
    top: 0